/* ===== ROOT ===== */
:root {
  --primary: #00a8e8;
  --bg: #f6faff;
  --text: #171c20;
  --muted: #3e4850;
  --card: #ffffff;
  --border: #e2e8f0;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background: var(--bg);
  color: var(--text);
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--border);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  font-weight: 700;
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: var(--muted);
}

.btn {
  background: var(--primary);
  color: #fff;
  padding: 10px 18px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  border: none;
}
.btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* HERO */
.hero {
  padding: 120px 0 80px;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.hero p {
  color: var(--muted);
  margin-bottom: 20px;
}

.hero img {
  width: 100%;
  border-radius: 20px;
}

/* COURSES */
.courses {
  padding: 60px 0;
  background: #f1f5f9;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-contact {
  width: fit-content;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}
.cards-contact {
  display: flex;
  gap: 15px;
}
.card {
  background: var(--card);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  direction: ltr;
}

.badge {
  background: var(--primary);
  color: #fff;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  width: fit-content;
}

.price {
  font-weight: bold;
  margin-top: 10px;
  color: var(--primary);
  font-size: 20px;
}
.discount {
  text-decoration: line-through;
  text-decoration-thickness: from-font;
  text-decoration-color: red;
  color: #726a6a;
  font-weight: 100;
  font-size: 15px;
}
.price-tags {
  display: flex;
  flex-direction: column;
}

/* CTA */
.cta {
  padding: 80px 0;
  text-align: center;
  background: #0f172a;
  color: #fff;
}

.cta h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  padding: 40px;
  text-align: center;
  font-size: 14px;
  color: #64748b;
}
.course-details {
  width: 50%;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
::marker {
  list-style-type: revert-layer;
}
@media only screen and (max-width: 480px) {
  .card {
    width: 21pc;
  }
  .btn {
    text-align: center;
    width: fit-content;
    height: auto;
  }
  * {
    width: 100%;
  }
  .course-grid {
    display: flex;
    flex-direction: column;
  }
  .card-contact {
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
  }
}
